.header{
    @apply relative c-small my-8;
    scroll-margin-top: 4rem;
}

.anchor{
    @apply opacity-0 absolute text-grey;
    transform: translate(-1em, -2px);
    width: 1em;
}

.header:hover .anchor{
    @apply opacity-100;
}
